{% extends "IMADemoBundle::base.html.twig" %}




{% block body %}
    <div class="container">

        {% include "IMADemoBundle:Default:header.html.twig" %}



        <article class="content">
            <div class="row" >
                <h1>WebStarter</h1>
                <p>This page regroups all the different available via WebStarter.</p>

            </div>
            <div class="row">
                <h2>Buttons</h2>
                <h3>Button text</h3>
                <p>One thing something people want is to be able to add text in a group button. To do so, webstarter added the class btn-text</p>
                <div class="btn ws_btn-text">This is a button</div>
            </div>

            <div class="row" >


                <h2>Title Bars</h2>
                <p>The title bar is designed to have three parts. The first part, on the left, is designed to accomodate an icon, especially a glyphicon icon.
                The second part, is designed to accomodate anything whether it is an input box or simply a title. Finally, there is a third part which allow you to put either an icon, a link or a button.
                </p>

                <h3>White title bar</h3>
                <div class="ws_titleBar ws_titleBar-gray">
                    <div class="ws_titleBar-leftIcon">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>

                    <div class="ws_titleBar-titleContainer">
                        <div class="ws_titleBar-titleContainer-title">Titre</div>
                    </div>

                    <div class="ws_titleBar-rightIcon">
                        <i class="glyphicon glyphicon-remove"></i>
                    </div>

                </div>

                <h3>Black title bar</h3>
                <div class="ws_titleBar ws_titleBar-black">
                    <div class="ws_titleBar-leftIcon">
                        <i class="glyphicon glyphicon-chevron-down ws_color-white"></i>
                    </div>

                    <div class="ws_titleBar-titleContainer">
                        <div class="ws_titleBar-titleContainer-title ws_color-white">Titre</div>
                    </div>

                    <div class="ws_titleBar-rightIcon">
                        <i class="glyphicon glyphicon-remove ws_color-white"></i>
                    </div>

                </div>

                <h3>Marine title bar</h3>
                <div class="ws_titleBar ws_titleBar-marine">
                    <div class="ws_titleBar-leftIcon">
                        <i class="glyphicon glyphicon-chevron-down ws_color-white"></i>
                    </div>

                    <div class="ws_titleBar-titleContainer">
                        <div class="ws_titleBar-titleContainer-title ws_color-white">Titre</div>
                    </div>

                    <div class="ws_titleBar-rightIcon">
                        <i class="glyphicon glyphicon-remove ws_color-white"></i>
                    </div>

                </div>

                <h3>Bootstrap primary blue title bar</h3>
                <div class="ws_titleBar ws_titleBar-primary">
                    <div class="ws_titleBar-leftIcon">
                        <i class="glyphicon glyphicon-chevron-down ws_color-white"></i>
                    </div>

                    <div class="ws_titleBar-titleContainer">
                        <div class="ws_titleBar-titleContainer-title ws_color-white">Titre</div>
                    </div>

                    <div class="ws_titleBar-rightIcon">
                        <i class="glyphicon glyphicon-remove ws_color-white"></i>
                    </div>

                </div>
            </div>
        </article>


    </div>

{% endblock %}