{% extends "IMADemoBundle::base.html.twig" %}




{% block body %}
    <div class="container">

        {% include "IMADemoBundle:Default:header.html.twig" %}



        <article class="content">
            <div class="row" >

                <div class="list-group col-md-6 col-md-offset-3">
                    <a href="{{ path('ima_example1') }}" class="list-group-item">Accéder au site exemplaire numéro 1 (taille 100%)</a>
                    <a href="{{ path('ima_webstarter') }}" class="list-group-item">Accéder aux widgets webstarter</a>
                    <a href="{{ path('sonata_admin_dashboard') }}" class="list-group-item">Accéder à la section administration</a>
                </div>
            </div>
        </article>


    </div>

{% endblock %}